a:link {
    color: turquoise;
}

a:visited {
    color: pink;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}

div {
    color: red;
    background-color: mistyrose;
    padding: 20px;
    border: solid 2px red;
}

div:hover {
    color: green;
    background-color: greenyellow;
    cursor: not-allowed;
}